$padding: 8px;
$margin: 8px;

$colorText: #FFFFFF;
$colorCompare: #D16F4C;
$colorGray: #C4C4C4;

$fontBold: 600;
$fontSemiBold: 500;

$fontLarge: 30px;
$fontMedium: 25px;
$fontMediumSmall: 18px;
$fontSmall: 16px;
$fontMinimal: 12px;