.cities {
  flex-grow: 1;
  overflow-y: scroll;

  &__header {
    padding: $padding 0;
    border-bottom: 1px solid $colorText;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    position: relative;
    svg {
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }

  &__input {
    padding: 0 $padding * 5 0 $padding * 2;
    height: 30px;
    border-radius: 15px;
  }

  &__clear-input {
    position: absolute;
    top: 5px;
    right: 14px;
    width: 15px;
    height: 20px;
    flex-shrink: 0;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      background: #777777;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &::before {
      top: 9px;
      transform: rotate(45deg);
    }
    &::after {
      bottom: 9px;
      transform: rotate(-45deg);
    }
  }

  &__body {
    flex-direction: column;
    margin: $margin * 2 0 $margin * 4 0;
  }

  &__compare-btn-wrap {
    align-self: center;
    position: absolute;
    opacity: 0;
    top: 0;
    transition: all 0.5s;
    z-index: -1;
    &_show {
      opacity: 1;
      z-index: 3;
      top: 15%;
      @media (max-width: 767px) {
        top: 10%;
      }
      @media (max-width: 320px) {
        top: 12%;
      }
    }
  }

  &__compare-link {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: fit-content;
    padding: 0 $padding;
  }

  &__clear-compare {
    position: relative;
    width: 54px;
    height: 35px;
    margin-left: -31px;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
    background: $colorText;
    border-radius: 20px;
    padding-right: 7px;
  }

  &__item-wrap {
    display: grid;
    gap: 16px;
    margin-top: $margin * 2;
  }
}